In [1]:
import pandas as pd
import seaborn as sns
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [4]:
raw_data=pd.read_csv('world_air_quality.csv', on_bad_lines='skip')
raw_data.head(3)

                                Country Code;City;Location;Coordinates;Pollutant;Source Name;Unit;Value;Last Updated;Country Label
JP;;北九州市小倉北区大門一丁目６－４８;33.880833   130.873056;NO;japan-soramame;ppm;0.002;2024-0...
JP;;北九州市若松区本町三丁目１３－１;33.898056    130.81;NO2;japan-soramame;ppm;0.005;2024-03-1...
JP;;北九州市門司区大里原町１２－１２;33.895833    130.935833;NOX;japan-soramame;ppm;0.013;2024-...

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49547 entries, JP;;北九州市小倉北区大門一丁目６－４８;33.880833 to IT;RETE REGIONALE QUALITA' DELL'ARIA DELLA TOSCANA;NET.IT279A;43.91611
Data columns (total 1 columns):
 #   Column                                                                                              Non-Null Count  Dtype
---  ------                                                                                              --------------  -----
 0   Country Code;City;Location;Coordinates;Pollutant;Source Name;Unit;Value;Last Updated;Country Label  49477 non-null  object
dtypes: object(1)
memory usage: 774.2+ KB

In [6]:
raw_data.nunique()

Country Code;City;Location;Coordinates;Pollutant;Source Name;Unit;Value;Last Updated;Country Label    49430
dtype: int64

In [8]:
raw_data2=pd.read_csv('world_air_quality.csv', sep='delimiter', header = None)
raw_data2.head(3)

                                                   0
0  Country Code;City;Location;Coordinates;Polluta...
1  JP;;北九州市小倉北区大門一丁目６－４８;33.880833, 130.873056;NO...
2  JP;;北九州市若松区本町三丁目１３－１;33.898056, 130.81;NO2;jap...

In [9]:
raw_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54256 entries, 0 to 54255
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       54256 non-null  object
dtypes: object(1)
memory usage: 424.0+ KB

In [10]:
raw_data2.nunique()

0    54256
dtype: int64

In [11]:
raw_data3=pd.read_csv('world_air_quality.csv', sep='\t')
raw_data3.head(3)

  Country Code;City;Location;Coordinates;Pollutant;Source Name;Unit;Value;Last Updated;Country Label
0  JP;;北九州市小倉北区大門一丁目６－４８;33.880833, 130.873056;NO...
1  JP;;北九州市若松区本町三丁目１３－１;33.898056, 130.81;NO2;jap...
2  JP;;北九州市門司区大里原町１２－１２;33.895833, 130.935833;NOX...

In [13]:
raw_data3.info()
raw_data3.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54255 entries, 0 to 54254
Data columns (total 1 columns):
 #   Column                                                                                              Non-Null Count  Dtype
---  ------                                                                                              --------------  -----
 0   Country Code;City;Location;Coordinates;Pollutant;Source Name;Unit;Value;Last Updated;Country Label  54255 non-null  object
dtypes: object(1)
memory usage: 424.0+ KB

Country Code;City;Location;Coordinates;Pollutant;Source Name;Unit;Value;Last Updated;Country Label    54255
dtype: int64

In [18]:
col_names = ['Country Code','City','Location','Coordinates','Pollutant']
raw_data4 = pd.read_csv('world_air_quality.csv', names=col_names)
raw_data4.head(3)

,Country Code,City,Location,Coordinates,Pollutant
0,Country Code;City;Location;Coordinates;Polluta...,NaN,NaN,NaN,NaN
1,JP;;北九州市小倉北区大門一丁目６－４８;33.880833,130.873056;NO;japan-soramame;ppm;0.002;2024-0...,NaN,NaN,NaN
2,JP;;北九州市若松区本町三丁目１３－１;33.898056,130.81;NO2;japan-soramame;ppm;0.005;2024-03-1...,NaN,NaN,NaN

there is a problem with analyse this dataset due to the format of this file.